# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.modul-318-student.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\modul-318-student\.idea\.idea.modul-318-student\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
